<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JameBoyV1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="JameBoyV1.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <JameBoyV1.Properties.Settings>
            <setting name="ROMPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultROMDir" serializeAs="String">
                <value>c:\\Testing</value>
            </setting>
        </JameBoyV1.Properties.Settings>
        <JameBoyV1.Settings>
            <setting name="ROMPath" serializeAs="String">
                <value />
            </setting>
        </JameBoyV1.Settings>
    </userSettings>
</configuration>